/2018Composition/library/metadata/*
/2018Composition/library/ShaderCache/*
2018Composition/library/metadata/*
2018Composition/library/ShaderCache/*
2018Composition/.idea/*
2018Composition/.idea
/2018Composition/.idea/*
/2018Composition/.idea
2018Composition/Assets/Plugins.meta
/2018Composition/Assets/Plugins.meta
2018Composition/Assets/Scripts/TimelinePositioningCopy.cs.meta
/2018Composition/Assets/Scripts/TimelinePositioningCopy.cs.meta
2018Composition/Temp/
/2018Composition/Temp/
2018Composition/Temp/*
/2018Composition/Temp/*
